.section {
    font-size: 1rem;
    max-width: 48em;
    padding-inline: 3em;
    margin-inline: auto;
    padding-top: 0;
}
.section h2 {
    margin-block: .55em;
}
.section p {
    white-space: pre-line;
}
.withMapBigContainer {
    width: 100%;
    display: grid;
    grid-gap: .5em;
    grid-template-columns: 1fr 1fr;
}
.infosContainer {
    margin-bottom: 2em;
}
.infoContainer {
    margin-inline: .3em;
    margin-block: .8em 1em;
    display: flex;
    gap: .2em;
}
.infoContainer p:nth-child(1) {
    width: max-content;
    flex-shrink: 0;
}
.section b {
    text-decoration: underline;
}
.map {
    border-radius: .3em;
    border: .1em solid var(--mid-light-color);
    --size: 27em;
    height: auto;
    width: auto;
}